<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.WarehouseMapper">

  <resultMap id="WarehouseResponse" type="com.ut.nlSystemAPi.model.response.Warehouse.WarehouseResponse">

  </resultMap>

  <resultMap id="UserWarehouseResponse" type="com.ut.nlSystemAPi.model.response.Warehouse.UserWarehouseResponse">

  </resultMap>

  <resultMap id="LocationWarehouseResponse" type="com.ut.nlSystemAPi.model.response.Warehouse.LocationWarehouseResponse">

  </resultMap>
</mapper>