<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.SalesReportMapper">

    <sql id="BASE_WHERE_DISCOUNT_SUMMARY">
        WHERE so.status > 0 AND company_id IN (SELECT company_id FROM user_companies WHERE user_id = #{userId})
        <if test="filter.searchText != null">
            AND (
                so_code LIKE CONCAT('%', #{filter.searchText}, '%')
                OR customers.name LIKE CONCAT('%', #{filter.searchText}, '%')
            )
        </if>
        <if test="filter.dateFrom != null">
            AND so.order_date >= #{filter.dateFrom}
        </if>
        <if test="filter.dateTo != null">
            AND so.order_date &lt;= #{filter.dateTo}
        </if>
    </sql>

    <sql id="DISCOUNT_CALCULATION">
        so.discount
        +
        (SELECT
            IFNULL(
                SUM(total_price * (SELECT percent/100 FROM discounts WHERE id = sales_order_details.discount_id))
            , 0)
            +
            IFNULL(
                SUM((SELECT amount FROM discounts WHERE id = sales_order_details.discount_id))
            , 0)
        FROM sales_order_details WHERE sales_order_id = so.id)
        +
        (SELECT
            IFNULL(
                SUM(total_price * (SELECT percent/100 FROM discounts WHERE id = sales_order_services.discount_id))
            , 0)
            +
            IFNULL(
                SUM((SELECT amount FROM discounts WHERE id = sales_order_services.discount_id))
            , 0)
        FROM sales_order_services WHERE sales_order_id = so.id)
        +
        (SELECT
            IFNULL(
                SUM(total_price * (SELECT percent/100 FROM discounts WHERE id = sales_order_miscs.discount_id))
            , 0)
            +
            IFNULL(
                SUM((SELECT amount FROM discounts WHERE id = sales_order_miscs.discount_id))
            , 0)
        FROM sales_order_miscs WHERE sales_order_id = so.id)
    </sql>

    <select id="getListDiscountSummary" parameterType="com.ut.nlSystemAPi.model.filter.Report.Sales.DiscountSummaryReportFilter" resultType="com.ut.nlSystemAPi.model.response.Report.Sales.DiscountSummaryReportResponse">
        SELECT
        so.id AS id,
        so_code AS invoiceCode,
        customers.name AS organizationName,
        DATE(so.created) AS created,
        FORMAT(<include refid="DISCOUNT_CALCULATION"/>, 2) AS totalAmount
        FROM sales_orders so
        INNER JOIN customers ON customers.id = so.customer_id
        <include refid="BASE_WHERE_DISCOUNT_SUMMARY"/>
        HAVING totalAmount > 0
        ORDER BY invoiceCode ASC
        <if test="filter.page != null and filter.rowsPerPage != null">
            LIMIT #{filter.page}, #{filter.rowsPerPage}
        </if>
    </select>

    <select id="countListDiscountSummary" parameterType="com.ut.nlSystemAPi.model.filter.Report.Sales.DiscountSummaryReportFilter" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM (
        SELECT so.id
        FROM sales_orders so
        INNER JOIN customers ON customers.id = so.customer_id
        <include refid="BASE_WHERE_DISCOUNT_SUMMARY"/>
        AND (<include refid="DISCOUNT_CALCULATION"/>) > 0
        ) AS filtered_results
    </select>

</mapper>