<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.PayrollMapper">

    <sql id="BASE_COLUMN_LIST">
      employees.*,
      employees.id AS employeeId,
      IFNULL(salary_second_work_shift, 0) AS secondWorkShiftSalary,
      code AS empId,
      positions.name AS positionName,
      positions.ordering AS positionOrdering,
      allowance AS allowance,
      paid_by AS paidType,
      is_deposit AS deposit,
      num_month AS numOfMonth,
      CASE
       WHEN (SELECT pay_slip_file_name FROM payrolls WHERE is_active = 1 AND employee_id = employees.id AND pay_date = #{payDate} LIMIT 1) IS NOT NULL THEN 1
        ELSE 0
        END AS isTelegram,
      is_donated AS donate,
      amount_deposit AS cashAmount,
      is_provident_fund AS proFund,
      start_working_date AS dateOfWork,
      remark AS remark,
      (SELECT total_amount FROM payrolls WHERE is_active = 1 AND employee_id = employees.id AND pay_date = #{payDate} LIMIT 1) AS totalAmount,
      (SELECT increase_salary FROM payrolls WHERE is_active = 1 AND employee_id = employees.id AND pay_date = #{payDate} LIMIT 1) AS increaseSalary,
      (SELECT note FROM payrolls WHERE is_active = 1 AND employee_id = employees.id AND pay_date = #{payDate} LIMIT 1) AS note
    </sql>

    <sql id="BASE_FROM">
        FROM employees
        LEFT JOIN positions ON positions.id = employees.position_id
    </sql>

    <sql id="BASE_WHERE">
        WHERE employees.is_active = 1
        AND employees.department_id = #{departmentId}
        AND DATE(employees.start_working_date) &lt;= DATE(#{payDate})
        AND (
        employees.id IN (
        SELECT employee_id FROM employee_apply_status AS eas WHERE eas.is_active = 1 AND eas.employee_status_id NOT IN(2,5,6,8)
        )
        OR employees.id IN (
        SELECT employee_id FROM employee_apply_status AS eas WHERE eas.is_active = 1
        AND eas.employee_status_id IN (4,5,6)
        AND MONTH(eas.date) > MONTH(#{payDate}) AND YEAR(eas.date) >= YEAR(#{payDate})
        )
        OR employees.id IN (
        SELECT employee_id FROM payrolls WHERE is_active = 1 AND employee_id = employees.id AND pay_date = #{payDate}
        )
        )
        AND employees.id NOT IN
        (SELECT employee_id FROM employee_apply_status_histories
        WHERE is_active = 1 AND employee_status_id = 2  AND date &lt;= DATE_FORMAT(#{payDate}, "%Y-%m-01") AND date_to >= DATE_FORMAT(#{payDate}, "%Y-%m-28")
        GROUP BY employee_apply_status_histories.employee_id)
    </sql>

    <select id="getList" parameterType="com.ut.nlSystemAPi.model.PayrollFilter" resultMap="PayrollResponse">
        SELECT
        <include refid="BASE_COLUMN_LIST"/>
        <include refid="BASE_FROM"/>
        <include refid="BASE_WHERE"/>
        ORDER BY employees.code ASC
    </select>

    <select id="listDepartment" parameterType="com.ut.nlSystemAPi.model.PayrollFilter" resultMap="DepartmentListResponse">
        SELECT *
        FROM departments
        WHERE is_active = 1
        <if test="filter.groupId != null and filter.departmentId != null">
            AND departments.id = #{filter.departmentId}
            AND id IN (SELECT department_id FROM employees WHERE is_active = 1)
        </if>
        ORDER BY group_id ASC
    </select>

    <select id="listPayrollType" resultMap="PayrollItemType">
        SELECT *
        FROM payroll_item_types
        WHERE  is_active = 1
        ORDER BY id DESC
    </select>

    <select id="listPayrollItem" resultMap="PayrollItem">
        SELECT *
        FROM payroll_items
        WHERE  is_active = 1 AND payroll_items.payroll_item_type_id = #{payrollTypeId} ORDER BY ordering ASC
    </select>

    <select id="getPayrollIdFilterPayDate" resultType="java.lang.Long">
        SELECT id
        FROM payrolls
        WHERE is_active = 1 AND employee_id = #{employeesId} AND pay_date = #{payDate}
    </select>

    <select id="getPayrollDetailAmount" resultType="java.lang.Float">
        SELECT amount
        FROM payroll_details
        WHERE is_active = 1 AND payroll_id = #{payrollId} AND payroll_item_id = #{payrollItemId}
    </select>

    <select id="getStatusPayrollDetail" resultType="java.lang.Long">
        SELECT status
        FROM payroll_details
        WHERE is_active = 1 AND payroll_id = #{payrollId} AND payroll_item_id = #{payrollItemId}
    </select>

    <select id="listPayrollDetailByPayrollId" resultType="com.ut.nlSystemAPi.model.PayrollDetail">
        SELECT
            payroll_item_id AS payrollItemId,
            amount AS amount,
            status AS payrollStatus
        FROM payroll_details
        WHERE is_active = 1
          AND payroll_id = #{payrollId}
    </select>

    <select id="getEmployeeOtRate" resultType="com.ut.nlSystemAPi.model.response.EmployeeOtRate">
        SELECT
            IFNULL(day_rate, 0)               AS dayRate,
            IFNULL(night_rate, 0)             AS nightRate,
            IFNULL(weekend_rate, 0)           AS weekendRate,
            IFNULL(public_holiday_rate, 0)    AS publicHolidayRate
        FROM employees
        WHERE is_active = 1 AND id = #{employeeId}
    </select>

    <select id="isPublicHoliday" resultType="java.lang.Long">
        SELECT
            COUNT(1)
        FROM public_holidays
        WHERE is_active = 1
          AND DATE(#{date}) BETWEEN DATE(public_holidays.date_from) AND DATE(IFNULL(public_holidays.date_to, public_holidays.date_from))
    </select>

    <select id="getOldSalary" resultType="java.lang.Float">
        SELECT old_salary
        FROM payrolls
        WHERE is_active = 1 AND id = #{payrollId}
    </select>

    <!--New code-->
    <select id="checkAmountDeposit" resultType="java.lang.Float">
        SELECT
            COALESCE(SUM(amount),0)
        FROM payroll_details
        WHERE is_active = 1 AND payroll_item_id = 5 AND total_of_months &lt; 2
          AND payroll_id IN (SELECT id FROM payrolls WHERE is_active = 1 AND employee_id = #{employeesId}
                                                       AND DATE(payrolls.pay_date) >= #{employeeStatusDate})
    </select>

    <!--Old Code-->
    <!--  <select id="checkAmountDeposit" resultType="java.lang.Float">-->
    <!--    SELECT-->
    <!--	    COALESCE(SUM(amount),0)-->
    <!--    FROM payroll_details-->
    <!--    WHERE is_active = 1 AND payroll_item_id = 5 AND total_of_months &lt; 2-->
    <!--    AND payroll_id IN (SELECT id FROM payrolls WHERE is_active = 1 AND employee_id = #{employeesId})-->
    <!--  </select>-->

    <select id="checkAmountDepositRequest" resultType="java.lang.Float">
        SELECT
            COALESCE(SUM(amount),0)
        FROM deposit_request_details
        WHERE is_active = 1 AND status = 2 AND employee_id = #{employeesId}
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="PayrollResponse">
        SELECT *
        FROM employees
        WHERE is_active = 1 AND id = #{id}
    </select>
    <select id="viewHistoryBonus" parameterType="com.ut.nlSystemAPi.model.filter.ViewOtFilter" resultMap="OtRequestResponse">
        SELECT
            over_time_requests.id AS id,
            over_time_requests.date_time_from AS dateTimeFrom,
            over_time_requests.date_time_to AS dateTimeTo,
            DATE(over_time_requests.date_time_from) AS date,
            TIME(over_time_requests.date_time_from) AS timeFrom,
            TIME(over_time_requests.date_time_to) AS timeTo,
            over_time_requests.duration AS duration,
            NULL AS minute,
            NULL AS attendanceType,
            NULL AS attendanceStatus,
            'OT_REQUEST' AS recordType,
            employees.employee_status_id AS employeeStatusId,
            NULL AS shiftDay
        FROM over_time_requests
            LEFT JOIN employees ON employees.id = over_time_requests.employee_id
        WHERE over_time_requests.is_active = 1
          AND over_time_requests.employee_id = #{filter.employeeId}
          AND over_time_requests.status = 2
          AND MONTH(over_time_requests.date_time_from) = MONTH(#{filter.date})
          AND YEAR(over_time_requests.date_time_from) = YEAR(#{filter.date});
    </select>

    <select id="viewAttendance" parameterType="com.ut.nlSystemAPi.model.filter.ViewOtFilter" resultMap="ViewAttendanceResponse">
        SELECT
            ea.id AS id,
            DATE(ea.datetime_scan) AS date,
            TIME(ea.datetime_scan) AS timeScan,
            ea.beginning_check_in AS timeIn,
            ea.beginning_check_out AS timeOut,
            ea.type AS type,
            ea.status AS status,
            ea.minute AS minute,
            IFNULL(ea.total_working_minute, 0) AS totalWorkingMinute,
            (SELECT CASE
            WHEN ws.work_shift_type_id = 2 THEN 24
            ELSE HOUR(ws.duration)
            END
            FROM work_shifts ws
            WHERE ws.id = ea.work_shift_id
            LIMIT 1) AS shiftHour,
            ea.work_shift_id AS workShiftId,
            IFNULL((SELECT total_day_per_month FROM employee_table_shifts WHERE is_active = 1 AND employee_id = #{filter.employeeId} AND work_shift_id = ea.work_shift_id LIMIT 1), 0) AS shiftDay
        FROM employee_attendances ea
        WHERE ea.is_active = 1
          AND ea.employee_id = #{filter.employeeId}
          AND ea.status IN(2,3)
          AND MONTH(ea.datetime_scan) = MONTH(#{filter.date})
          AND YEAR(ea.datetime_scan) = YEAR(#{filter.date})
    </select>

    <select id="viewOnTimeAttendanceBonus" parameterType="com.ut.nlSystemAPi.model.filter.ViewOtFilter" resultMap="OtRequestResponse">
        SELECT
            ea.id AS id,
            (SELECT ea2.datetime_scan FROM employee_attendances ea2 WHERE ea2.employee_id = ea.employee_id AND ea2.type = 1 AND ea2.datetime_scan &lt; ea.datetime_scan ORDER BY ea2.datetime_scan DESC LIMIT 1) AS dateTimeFrom,
          ea.datetime_scan AS dateTimeTo,
          DATE(ea.datetime_scan) AS date,
          TIME((SELECT ea2.datetime_scan FROM employee_attendances ea2 WHERE ea2.employee_id = ea.employee_id AND ea2.type = 1 AND ea2.datetime_scan &lt; ea.datetime_scan ORDER BY ea2.datetime_scan DESC LIMIT 1)) AS timeFrom,
          TIME(ea.datetime_scan) AS timeTo,
          CASE
              WHEN employees.employee_status_id = 1 THEN IFNULL(ea.minute, 0)
              ELSE TIMESTAMPDIFF(MINUTE,
                     (SELECT ea2.datetime_scan FROM employee_attendances ea2 WHERE ea2.employee_id = ea.employee_id AND ea2.type = 1 AND ea2.datetime_scan &lt; ea.datetime_scan ORDER BY ea2.datetime_scan DESC LIMIT 1),
                     ea.datetime_scan)
        END AS duration,
          CASE
              WHEN employees.employee_status_id = 1 THEN IFNULL(ea.minute, 0)
              ELSE TIMESTAMPDIFF(MINUTE,
                     (SELECT ea2.datetime_scan FROM employee_attendances ea2 WHERE ea2.employee_id = ea.employee_id AND ea2.type = 1 AND ea2.datetime_scan &lt; ea.datetime_scan ORDER BY ea2.datetime_scan DESC LIMIT 1),
                     ea.datetime_scan)
        END AS minute,
          ea.type AS attendanceType,
          ea.status AS attendanceStatus,
          'ATTENDANCE_ON_TIME' AS recordType,
          employees.employee_status_id AS employeeStatusId,
         IFNULL((SELECT total_day_per_month FROM employee_table_shifts WHERE is_active = 1 AND employee_id = #{filter.employeeId} AND work_shift_id = ea.work_shift_id LIMIT 1), 0) AS shiftDay
        FROM employee_attendances ea
        INNER JOIN employees ON employees.id = ea.employee_id
        WHERE ea.is_active = 1
        AND ea.employee_id = #{filter.employeeId}
        AND ea.status = 1
        AND ea.type = 2
        AND MONTH(ea.datetime_scan) = MONTH(#{filter.date})
        AND YEAR(ea.datetime_scan) = YEAR(#{filter.date})
    </select>



    <select id="getListOtherPay" parameterType="java.lang.Long" resultMap="OtherPayResponse">
        SELECT
            id AS id,
            name AS name
        FROM other_bonus
        WHERE is_active = 1
    </select>


    <select id="getBonusDetail" parameterType="com.ut.nlSystemAPi.model.filter.OtherPayFilter" resultMap="BonusDetailResponse">
        SELECT
            branches.id AS branchId,
            branches.name AS branchName,
            IFNULL(payroll_other_bonus.amount, 0) AS amount
        FROM payroll_other_bonus
                 LEFT JOIN branches ON payroll_other_bonus.branch_id = branches.id
        WHERE payroll_other_bonus.is_active = 1 AND payroll_other_bonus.other_bonus_id = #{bonusId}
          AND payroll_other_bonus.employee_id = #{filter.employeeId}
    </select>


    <select id="getEmployeeName" resultType="java.lang.String">
        SELECT
            name_en
        FROM employees
        WHERE is_active = 1 AND id = #{employeesId}
    </select>


    <select id="getEmployeeChartId" resultType="java.lang.String">
        SELECT
            chat_id
        FROM employees
        WHERE is_active = 1 AND id = #{employeesId}
    </select>

    <select id="getEmployeeChatId" resultType="java.lang.String">
        SELECT
            chat_id
        FROM employees
        WHERE is_active = 1 AND id = #{employeesId}
    </select>

    <select id="getCreatorName" resultType="java.lang.String">
        SELECT
            username
        FROM users
        WHERE is_active = 1 AND id = #{userId}
    </select>

    <select id="checkDuplicate" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM payrolls
        WHERE employee_id = #{employeesId} AND pay_date = #{payDate}
          AND is_active = 1
    </select>

    <insert id="insert" parameterType="com.ut.nlSystemAPi.model.Payroll" useGeneratedKeys="true" keyProperty="payroll.id">
        INSERT INTO payrolls (
            employee_id,
            position_id,
            department_id,
            paid_type,
            bank_acc,
            bank_id,
            pay_date,
            old_salary,
            increase_salary,
            total_amount,
            note,
            created,
            created_by,
            is_active
        ) VALUES (
                     #{payroll.employeesId},
                     #{payroll.positionId},
                     #{payroll.departmentId},
                     #{payroll.paidType},
                     #{payroll.accountNumber},
                     #{payroll.accountId},
                     #{payroll.payDate},
                     #{payroll.currentSalary},
                     #{payroll.increaseSalary},
                     #{payroll.totalAmount},
                     #{payroll.note},
                     NOW(),
                     #{payroll.createdBy},
                     #{payroll.isActive}
                 );

        INSERT INTO employee_history_salary (
            employee_id,
            salary,
            increase_salary,
            date,
            created,
            created_by,
            is_active
        ) VALUES (
                     #{payroll.employeesId},
                     #{payroll.currentSalary},
                     #{payroll.increaseSalary},
                     #{payroll.payDate},
                     NOW(),
                     #{payroll.createdBy},
                     1
                 );

        UPDATE employees SET
                             current_salary = (#{payroll.currentSalary} + #{payroll.increaseSalary}),
                             modified = NOW(),
                             modified_by = #{payroll.modifiedBy}
        WHERE id = #{payroll.employeesId};
    </insert>

    <update id="insertPayrollSendTelegram" parameterType="com.ut.nlSystemAPi.model.PayrollSendTelegram">
        UPDATE payrolls SET
                            pay_slip_file_name = #{payrollSendTelegram.fileImageName},
                            pay_slip_file = #{payrollSendTelegram.fileImageUrl},
                            modified = NOW(),
                            modified_by = #{payrollSendTelegram.createdBy}
        WHERE pay_date = #{payrollSendTelegram.payDate} AND employee_id = #{payrollSendTelegram.employeesId};
    </update>

    <insert id="insertOtherPay" parameterType="com.ut.nlSystemAPi.model.request.InsertOtherPay" useGeneratedKeys="true" keyProperty="insertOtherPay.id">
        INSERT INTO payroll_other_bonus (
            payroll_id,
            employee_id,
            branch_id,
            other_bonus_id,
            amount,
            created,
            created_by,
            is_active
        ) VALUES (
                     #{insertOtherPay.payrollId},
                     #{insertOtherPay.employeeId},
                     #{insertOtherPay.branchId},
                     #{insertOtherPay.bonusId},
                     #{insertOtherPay.amount},
                     NOW(),
                     #{insertOtherPay.createdBy},
                     1
                 );
    </insert>

    <insert id="insertPayrollDetail" parameterType="com.ut.nlSystemAPi.model.PayrollDetail" useGeneratedKeys="true" keyProperty="payrollDetail.id">
        INSERT INTO payroll_details (
            payroll_id,
            payroll_item_id,
            amount,
            status,
            created,
            created_by,
            is_active
        ) VALUES (
                     #{payrollDetail.payrollId},
                     #{payrollDetail.payrollItemId},
                     #{payrollDetail.amount},
                     #{payrollDetail.payrollStatus},
                     NOW(),
                     #{payrollDetail.createdBy},
                     #{payrollDetail.isActive}
                 );
    </insert>

    <select id="getPayrollId" resultType="java.lang.Long">
        SELECT id
        FROM payrolls
        WHERE employee_id = #{employeesId} AND pay_date = #{payDate}
          AND is_active = 1
    </select>

    <update id="update" parameterType="com.ut.nlSystemAPi.model.Payroll" useGeneratedKeys="true" keyProperty="payroll.id">
        UPDATE payrolls SET
                            old_salary = #{payroll.currentSalary},
                            increase_salary = #{payroll.increaseSalary},
                            total_amount = #{payroll.totalAmount},
                            note = #{payroll.note},
                            modified = NOW(),
                            modified_by = #{payroll.modifiedBy}
        WHERE employee_id = #{payroll.employeesId} AND pay_date = #{payroll.payDate};

        INSERT INTO employee_history_salary (
            employee_id,
            salary,
            increase_salary,
            date,
            created,
            created_by,
            is_active
        ) VALUES (
                     #{payroll.employeesId},
                     #{payroll.currentSalary},
                     #{payroll.increaseSalary},
                     #{payroll.payDate},
                     NOW(),
                     #{payroll.createdBy},
                     1
                 );

        UPDATE employees SET
                             current_salary = (#{payroll.currentSalary} + #{payroll.increaseSalary}),
                             modified = NOW(),
                             modified_by = #{payroll.modifiedBy}
        WHERE id = #{payroll.employeesId};
    </update>

    <insert id="updatePayrollDetail" parameterType="com.ut.nlSystemAPi.model.PayrollDetail" useGeneratedKeys="true" keyProperty="payrollDetail.id">
        UPDATE payroll_details SET
                                   amount = #{payrollDetail.amount},
                                   created = NOW(),
                                   created_by = #{payrollDetail.createdBy}
        WHERE payroll_id = #{payrollDetail.payrollId} AND payroll_item_id = #{payrollDetail.payrollItemId}
    </insert>

    <!--  <delete id="deletePayrollDetail" parameterType="java.lang.Long">-->
    <!--    DELETE FROM payroll_details WHERE payroll_id = #{payrollId}-->
    <!--  </delete>-->

    <delete id="delete" parameterType="com.ut.nlSystemAPi.model.Payroll">
        UPDATE payrolls SET
                            is_active = 2,
                            modified = NOW(),
                            modified_by = #{payroll.modifiedBy}
        WHERE is_active = 1 AND employee_id = #{payroll.id} AND pay_date = #{payroll.payDate}
    </delete>

    <select id="getIncreasesalary" resultType="java.lang.Float">
        SELECT
            COALESCE(SUM(increase_salary),0)
        FROM employee_increase_salaries
        WHERE is_active = 1 AND employee_id = #{employeesId} AND date = #{payDate}
    </select>

    <select id="getEmployeeCurrentSalary" resultType="java.lang.Float">
        SELECT current_salary FROM employees WHERE is_active = 1 AND id = #{employeesId}
    </select>


    <insert id="lock" parameterType="com.ut.nlSystemAPi.model.PayrollLock" useGeneratedKeys="true" keyProperty="payrollLock.id">
        INSERT INTO payroll_locks (
            department_id,
            pay_date,
            is_lock,
            created,
            created_by,
            is_active
        ) VALUES (
                     #{payrollLock.departmentId},
                     #{payrollLock.payDate},
                     #{payrollLock.isLocked},
                     NOW(),
                     #{payrollLock.createdBy},
                     1
                 );
    </insert>

    <select id="checkLock" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM payroll_locks
        WHERE department_id = #{departmentId}
            AND MONTH(pay_date) = MONTH(#{payDate}) AND YEAR(pay_date) = YEAR(#{payDate})
          AND is_active = 1
    </select>

    <insert id="unLock" parameterType="com.ut.nlSystemAPi.model.PayrollLock">
        UPDATE payroll_locks SET
                                 is_lock = #{payrollLock.isLocked},
                                 modified = NOW(),
                                 modified_by = #{payrollLock.modifiedBy}
        WHERE is_active = 1 AND department_id = #{payrollLock.departmentId}
            AND MONTH(pay_date) = MONTH(#{payrollLock.payDate}) AND YEAR(pay_date) = YEAR(#{payrollLock.payDate})
    </insert>

    <select id="getIsLock" resultType="java.lang.Long">
        SELECT
            IFNULL((SELECT is_lock FROM payroll_locks WHERE is_active = 1 AND department_id = #{departmentId}
                                                                AND MONTH(pay_date) = MONTH(#{payDate}) AND YEAR(pay_date) = YEAR(#{payDate})), 0)
    </select>

    <!-- Check payroll when revert -->
    <select id="checkEmployeeCurrentSalary" resultType="java.lang.Float">
        SELECT current_salary FROM employees WHERE is_active = 1 AND id = #{employeesId}
    </select>

    <select id="checkIncreaseSalry" resultType="java.lang.Long" resultMap="PayrollRevert">
        SELECT *,
               old_salary AS oldSalary,
               increase_salary AS increaseSalary
        FROM payrolls
        WHERE is_active = 2 AND MONTH(pay_date) = MONTH(#{payDate}) AND YEAR(pay_date) = YEAR(#{payDate})
          AND increase_salary != 0 AND employee_id = #{employeesId} ORDER BY id DESC LIMIT 01
    </select>

    <update id="updateCurrentSalary" parameterType="com.ut.nlSystemAPi.model.PayrollRevert">
        UPDATE employees SET
                             current_salary = #{payrollRevert.currentSalary},
                             modified = NOW(),
                             modified_by = #{payrollRevert.modifiedBy}
        WHERE id = #{payrollRevert.id}
    </update>

    <select id="checkPayrollDuplicate" parameterType="com.ut.nlSystemAPi.model.PayrollFilter" resultMap="PayrollResponse">
        SELECT
            employee_id AS employeesId
        FROM payrolls
        WHERE is_active = 1 AND pay_date = #{filter.payDate}
        GROUP BY employee_id
        HAVING COUNT(employee_id) > 1
    </select>

    <update id="updatePayrollDuplicate">
        UPDATE payrolls SET
            is_active = 2
        WHERE is_active = 1 AND employee_id = #{employeeId} AND pay_date = #{payDate};
    </update>

    <update id="updatePayrollDuplicateByEmployeeIds">
        UPDATE payrolls
        SET is_active = 2
        WHERE is_active = 1
          AND pay_date = #{payDate}
          AND employee_id IN
        <foreach collection="employeeIds" item="employeeId" open="(" separator="," close=")">
            #{employeeId}
        </foreach>
    </update>

    <select id="getEmployeeLastStatusDate" resultType="java.lang.String">
        SELECT date FROM employee_apply_status WHERE is_active = 1
                                                 AND employee_id = #{employeesId} AND employee_status_id IN(1,2,3) ORDER by id DESC LIMIT 1;
    </select>

    <!--  <select id="ifEmployeePending" resultType="java.lang.Long">-->
    <!--    SELECT COUNT(id) FROM employee_apply_status_histories-->
    <!--    WHERE employee_id = #{employeeId}-->
    <!--      AND employee_status_id = 2 AND ((#{payDate} BETWEEN date AND date_to) OR-->
    <!--      (MONTH(employee_apply_status_histories.date) = MONTH(#{payDate}) AND YEAR(employee_apply_status_histories.date) = YEAR(#{payDate}))-->
    <!--      OR (MONTH(employee_apply_status_histories.date_to) = MONTH(#{payDate}) AND YEAR(employee_apply_status_histories.date_to) = YEAR(#{payDate})));-->
    <!--  </select>-->

    <select id="ifEmployeePending" resultType="java.lang.Long">
        SELECT COUNT(id) FROM employee_apply_status_histories
        WHERE employee_id = #{employeeId} AND is_active = 1
          AND employee_status_id = 2 AND ((#{payDate} BETWEEN date AND date_to) OR
                                          (MONTH(employee_apply_status_histories.date) = MONTH(#{payDate}) AND YEAR(employee_apply_status_histories.date) = YEAR(#{payDate}))
            OR (MONTH(employee_apply_status_histories.date_to) = MONTH(#{payDate}) AND YEAR(employee_apply_status_histories.date_to) = YEAR(#{payDate})));
    </select>


    <select id="listEmployeeStatusHistory" resultMap="EmployeeStatusHistory">
        SELECT
            DATE_FORMAT(date, '%d-%b-%y') AS date,
      DATE_FORMAT(date_to, '%d-%b-%y') AS dateTo
        FROM employee_apply_status_histories
        WHERE employee_id = #{employeeId} AND is_active = 1
          AND employee_status_id = 2 AND ((#{payDate} BETWEEN date AND date_to) OR
            (MONTH(employee_apply_status_histories.date) = MONTH(#{payDate}) AND YEAR(employee_apply_status_histories.date) = YEAR(#{payDate}))
           OR (MONTH(employee_apply_status_histories.date_to) = MONTH(#{payDate}) AND YEAR(employee_apply_status_histories.date_to) = YEAR(#{payDate}))) ORDER BY id DESC LIMIT 1;
    </select>

    <select id="countLateMinute" resultType="java.lang.Long">
        SELECT
            IFNULL(SUM(IFNULL(`minute`, 0)), 0)
        FROM employee_attendances
        WHERE is_active = 1 AND status IN (2,3)
            AND employee_id = #{employeeId} AND MONTH(datetime_scan) = MONTH(#{payDate}) AND YEAR(datetime_scan) = YEAR(#{payDate})
    </select>

    <select id="getTotalWorkingMinuteOt" resultType="java.lang.Long">
        SELECT IFNULL(SUM(total_working_minute), 0)
        FROM employee_attendances
        WHERE is_active = 1
            AND employee_id = #{employeeId}
            AND type = 2
            AND MONTH(datetime_scan) = MONTH(#{payDate})
          AND YEAR(datetime_scan) = YEAR(#{payDate})
    </select>

    <select id="getShiftDurationMin" resultType="java.lang.Long">
        SELECT
            IFNULL((CASE
                        WHEN TIME_TO_SEC(duration) = 0 THEN 1440
                        ELSE TIME_TO_SEC(duration) / 60
                END), 0)
        FROM work_shifts
        WHERE is_active = 1 AND id IN(
            SELECT employee_table_shifts.work_shift_id
            FROM employee_table_shifts
            WHERE employee_table_shifts.employee_id = #{employeeId} AND employee_table_shifts.is_active = 1
        )
            LIMIT 1
    </select>

    <select id="getShiftDurationDay" resultType="java.lang.Float">
        SELECT SUM(total_day_per_month) FROM employee_table_shifts WHERE is_active = 1 AND employee_id = #{employeeId};
    </select>

    <select id="getAttendDay" resultType="java.lang.Long">
        SELECT
            COUNT(id)
        FROM employee_attendances
        WHERE is_active = 1 AND type = 1
            AND employee_id = #{employeeId}
            AND MONTH(datetime_scan) = MONTH(#{payDate})
          AND YEAR(datetime_scan) = YEAR(#{payDate})
    </select>

    <select id="getPaidLeaveDay" resultType="java.lang.Long">
        SELECT
            IFNULL(SUM(number_of_day), 0)
        FROM leave_requests
        WHERE is_active = 1
            AND status = 1
            AND employee_id = #{employeeId}
            AND MONTH(date_from) = MONTH(#{payDate}) AND YEAR(date_from) = YEAR(#{payDate})
          AND leave_type_id != 7
    </select>

</mapper>
