<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.UserMapper">

  <sql id="BASE_COLUMN_LIST">
    *,
    DATE_FORMAT(modified, "%d-%m-%Y") AS modifiedDate
  </sql>

  <sql id="BASE_FROM">
    FROM users u
  </sql>

  <sql id="BASE_WHERE">
    WHERE is_active = 1 AND user_type = 0
    <if test="filter.searchText != null">
      AND (
      first_name LIKE CONCAT("%", #{filter.searchText}, "%")
      OR last_name LIKE CONCAT("%", #{filter.searchText}, "%")
      OR username LIKE CONCAT("%", #{filter.searchText}, "%")
      OR telephone LIKE CONCAT("%", #{filter.searchText}, "%")
      OR email LIKE CONCAT("%", #{filter.searchText}, "%")
      )
    </if>
    <if test="filter.groupId != null">
      AND id IN (SELECT user_id FROM user_groups WHERE group_id = #{filter.groupId})
    </if>
  </sql>

  <select id="getList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultMap="User">
    SELECT
    <include refid="BASE_COLUMN_LIST"/>
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
    ORDER BY
    <choose>
      <when test="filter.orderBy != null">
        ${filter.orderBy}
      </when>
      <otherwise>
        username ASC
      </otherwise>
    </choose>
    <if test="filter.page != null and filter.rowsPerPage != null">LIMIT #{filter.page}, #{filter.rowsPerPage}</if>
  </select>

  <select id="countList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultType="java.lang.Long">
    SELECT COUNT(id)
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
  </select>

  <select id="getOne" parameterType="java.lang.Long" resultMap="User">
    SELECT
      *,
      (SELECT group_id FROM user_groups WHERE user_id = users.id LIMIT 01) AS groupId,
      (SELECT (SELECT name FROM `groups` WHERE id = group_id) FROM user_groups WHERE user_id = users.id LIMIT 01) AS groupName
    FROM
      users
    WHERE
      is_active = 1 AND id = #{id}
    LIMIT 1
  </select>

  <select id="getOneByUsername" parameterType="java.lang.String" resultMap="User">
    SELECT
      *
    FROM users
    WHERE is_active = 1 AND username = #{username}
    LIMIT 1
  </select>

  <select id="getOneByGroup" parameterType="java.lang.Long" resultMap="User">
    SELECT
      *
    FROM users
    WHERE is_active = 1 AND id IN (SELECT user_id FROM user_groups WHERE group_id = #{groupId})
  </select>

  <select id="getOneUserGroupList" parameterType="java.lang.Long" resultMap="UserGroupList">
    SELECT * FROM `groups` WHERE id IN (SELECT group_id FROM user_groups WHERE user_id = #{id});
  </select>

  <insert id="insert" parameterType="com.ut.nlSystemAPi.model.Users.User" useGeneratedKeys="true" keyProperty="user.id">
    INSERT INTO users (
    <if test="user.username != null">username,</if>
    <if test="user.password != null">password,</if>
    <if test="user.type != null">user_type,</if>
    <if test="user.email != null">email,</if>
    <if test="user.fullName != null">first_name,</if>
    <if test="user.fullName != null">last_name,</if>
    <if test="user.fullName != null">full_name,</if>
    <if test="user.sex != null">sex,</if>
    <if test="user.dob != null">dob,</if>
    <if test="user.address != null">address,</if>
    <if test="user.telephone != null">telephone,</if>
    <if test="user.photo != null">photo,</if>
    <if test="user.phoneVerifyToken != null">phone_verify_token,</if>
    <if test="user.phoneVerifyTokenExpiredDate != null">phone_verify_token_expired_date,</if>
    <if test="user.phoneVerifyCode != null">phone_verify_code,</if>
    <if test="user.phoneVerifyCodeExpiredDate != null">phone_verify_code_expired_date,</if>
    created,
    created_by,
    modified,
    modified_by,
    is_active
    ) VALUES (
    <if test="user.username != null">#{user.username},</if>
    <if test="user.password != null">#{user.password},</if>
    <if test="user.type != null">#{user.type},</if>
    <if test="user.email != null">#{user.email},</if>
    <if test="user.fullName != null">#{user.fullName},</if>
    <if test="user.fullName != null">#{user.fullName},</if>
    <if test="user.fullName != null">#{user.fullName},</if>
    <if test="user.sex != null">#{user.sex},</if>
    <if test="user.dob != null">#{user.dob},</if>
    <if test="user.address != null">#{user.address},</if>
    <if test="user.telephone != null">#{user.telephone},</if>
    <if test="user.photo != null">#{user.photo},</if>
    <if test="user.phoneVerifyToken != null">#{user.phoneVerifyToken},</if>
    <if test="user.phoneVerifyTokenExpiredDate != null">#{user.phoneVerifyTokenExpiredDate},</if>
    <if test="user.phoneVerifyCode != null">#{user.phoneVerifyCode},</if>
    <if test="user.phoneVerifyCodeExpiredDate != null">#{user.phoneVerifyCodeExpiredDate},</if>
    NOW(),
    #{user.createdBy},
    NOW(),
    #{user.createdBy},
    1
    );

    UPDATE employees SET
      user_id = LAST_INSERT_ID()
    WHERE id = #{user.applyEmployees};
  </insert>

  <insert id="insertUserGroup">
    INSERT INTO user_groups(
      user_id,
      group_id
    ) VALUES (
      #{userId},
      #{groupId}
    );
  </insert>

  <update id="update" parameterType="com.ut.nlSystemAPi.model.Users.User">
    UPDATE users SET
    <if test="user.username != null">username = #{user.username},</if>
    <if test="user.password != null">password = #{user.password},</if>
    <if test="user.email != null">email = #{user.email},</if>
    <if test="user.fullName != null">first_name = #{user.fullName},</if>
    <if test="user.fullName != null">last_name = #{user.fullName},</if>
    <if test="user.fullName != null">full_name = #{user.fullName},</if>
    <if test="user.filename != null">filename = #{user.filename},</if>
    <if test="user.photo != null">photo = #{user.photo},</if>
    <if test="user.phoneVerifyToken != null">phone_verify_token = #{user.phoneVerifyToken},</if>
    <if test="user.phoneVerifyTokenExpiredDate != null">phone_verify_token_expired_date = #{user.phoneVerifyTokenExpiredDate},</if>
    <if test="user.phoneVerifyCode != null">phone_verify_code = #{user.phoneVerifyCode},</if>
    <if test="user.phoneVerifyCodeExpiredDate != null">phone_verify_code_expired_date = #{user.phoneVerifyCodeExpiredDate},</if>
    <if test="user.phoneResetPasswordToken != null">phone_reset_password_token = #{user.phoneResetPasswordToken},</if>
    <if test="user.phoneResetPasswordTokenExpiredDate != null">phone_reset_password_token_expired_date = #{user.phoneResetPasswordTokenExpiredDate},</if>
    <if test="user.phoneResetPasswordCode != null">phone_reset_password_code = #{user.phoneResetPasswordCode},</if>
    <if test="user.phoneResetPasswordCodeExpiredDate != null">phone_reset_password_code_expired_date = #{user.phoneResetPasswordCodeExpiredDate},</if>
    <if test="user.phoneNewPasswordToken != null">phone_new_password_token = #{user.phoneNewPasswordToken},</if>
    <if test="user.phoneNewPasswordTokenExpiredDate != null">phone_new_password_token_expired_date = #{user.phoneNewPasswordTokenExpiredDate},</if>
    <if test="user.isActive != null">is_active = #{user.isActive},</if>
    modified = NOW(),
    modified_by = #{user.modifiedBy}
    WHERE id = #{user.id}
  </update>

  <update id="updateUser" parameterType="com.ut.nlSystemAPi.model.Users.User">
    UPDATE users SET
    <if test="user.fullName != null">full_name = #{user.fullName},</if>
    <if test="user.email != null">email = #{user.email},</if>
    <if test="user.photo != null">photo = #{user.photo},</if>
    <if test="user.isActive != null">is_active = #{user.isActive},</if>
    modified = NOW(),
    modified_by = #{user.modifiedBy}
    WHERE id = #{user.id}
  </update>

  <delete id="delete" parameterType="java.lang.Long">
    UPDATE users SET
      modified = NOW(),
      modified_by = 1,
      is_active = 2
    WHERE id = #{id}
  </delete>

  <insert id="insertSystemRoleUser">
    INSERT INTO user_groups (user_id, group_id) VALUES (#{userId}, #{groupId});
  </insert>

  <insert id="deleteSystemRoleUser">
    DELETE FROM user_groups WHERE user_id = #{userId}
  </insert>

  <!--  insert apply user to department-->
  <insert id="insertApplyUserDepartment">
    INSERT INTO user_departments (user_id, department_id) VALUES (#{userId}, #{departmentId});

    UPDATE departments SET user_apply = 1 WHERE is_active = 1 AND id = #{departmentId};
  </insert>

  <insert id="deleteApplyUserDepartment">
    DELETE FROM user_departments WHERE user_id = #{userId};
  </insert>

  <select id="getUserApplyDepartment" parameterType="java.lang.Long" resultMap="UserDepartmentList">
    SELECT * FROM departments WHERE id IN (SELECT department_id FROM user_departments WHERE user_id = #{userId});
  </select>

  <!--  check department update-->
  <update id="updateUserApplyDepartment">
    UPDATE departments SET
        user_apply = 0
    WHERE is_active = 1 AND id NOT IN (SELECT department_id FROM user_departments GROUP BY department_id ASC);
  </update>

  <update id="updateEmployeeId" parameterType="java.lang.Long">
    UPDATE users SET employee_id = #{employeeId} WHERE id = #{userId}
  </update>

  <!-- oauth2 -->
  <select id="countAccessTokenByUsername" parameterType="java.lang.String" resultType="java.lang.Long">
    SELECT COUNT(user_name) FROM oauth_access_token WHERE user_name = #{username}
  </select>

  <delete id="deleteAccessTokenByUsername" parameterType="java.lang.String">
    DELETE FROM oauth_access_token WHERE user_name = #{username}
  </delete>

  <select id="getListApplyUser" parameterType="com.ut.nlSystemAPi.model.response.ApplyUserFilter" resultMap="ApplyUserList">
    SELECT *
    FROM users AS u LEFT JOIN employees AS e ON u.id = e.user_id
    WHERE u.is_active = 1 AND e.user_id IS NULL
    <if test="filter.userId != null and filter.userId > 0">
      OR u.id = #{filter.userId}
    </if>
  </select>

</mapper>
