<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.CMTermMapper">

  <sql id="BASE_COLUMN_LIST">
    id AS id,
    `name` AS `name`
  </sql>

  <sql id="BASE_FROM">
    FROM reasons
  </sql>

  <sql id="BASE_WHERE">
    WHERE is_active = 1
    <if test="filter.searchText != null">
      AND name LIKE CONCAT("%", #{filter.searchText}, "%")
    </if>
  </sql>

  <select id="getList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultMap="CMTermResponse">
    SELECT
    <include refid="BASE_COLUMN_LIST"/>
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
    ORDER BY
    <choose>
      <when test="filter.orderBy != null">
        ${filter.orderBy}
      </when>
      <otherwise>
        `name` ASC
      </otherwise>
    </choose>
    <if test="filter.page != null and filter.rowsPerPage != null">
      LIMIT #{filter.page}, #{filter.rowsPerPage}
    </if>
  </select>

  <select id="countList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultType="java.lang.Long">
    SELECT COUNT(id)
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
  </select>

  <select id="getOne" parameterType="java.lang.Long" resultMap="CMTermResponse">
    SELECT
    <include refid="BASE_COLUMN_LIST"/>
    <include refid="BASE_FROM"/>
    WHERE is_active = 1 AND id = #{id}
  </select>

  <select id="checkDuplicate" resultType="java.lang.Long">
    SELECT COUNT(id)
    FROM reasons
    WHERE is_active = 1 AND name = #{name}
    <if test="id != null"> AND id != #{id} </if>
  </select>

  <insert id="insert" parameterType="com.ut.nlSystemAPi.model.entity.CMTerm.CMTerm" useGeneratedKeys="true" keyProperty="cmTerm.id">
    INSERT INTO reasons (
      `name`,
      created,
      created_by,
      is_active
    ) VALUES (
      #{cmTerm.name},
      NOW(),
      #{cmTerm.createdBy},
      #{cmTerm.isActive}
    )
  </insert>

  <update id="update" parameterType="com.ut.nlSystemAPi.model.entity.CMTerm.CMTerm">
    UPDATE reasons SET
      <if test="cmTerm.name != null">`name` = #{cmTerm.name},</if>
      modified = NOW(),
      modified_by = #{cmTerm.modifiedBy}
    WHERE id = #{cmTerm.id} AND is_active = 1
  </update>

  <update id="delete" parameterType="java.lang.Long">
    UPDATE reasons SET
      is_active = 2,
      modified = NOW(),
      modified_by = #{userId}
    WHERE id = #{id} AND is_active = 1
  </update>

</mapper>