<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.LeadGroupMapper">

    <sql id="BASE_COLUMN_LIST">
        cgroups.id AS id,
        cgroups.created AS created,
        CONCAT(creator.first_name, ' ', creator.last_name) AS createdBy,
        cgroups.modified AS modified,
        CONCAT(modifier.first_name, ' ', modifier.last_name) AS modifiedBy
    </sql>

    <sql id="BASE_FROM">
        FROM cgroups
        LEFT JOIN users AS creator ON creator.id = cgroups.created_by
        LEFT JOIN users AS modifier ON modifier.id = cgroups.modified_by
    </sql>

    <sql id="BASE_WHERE">
        WHERE cgroups.is_active = 3
        AND cgroups.group_type = 2
        AND cgroups.id IN (SELECT cgroup_id FROM cgroup_companies WHERE company_id IN (SELECT company_id FROM user_companies WHERE user_id = #{userId}))
        <if test="filter.searchText != null">
            AND cgroups.name LIKE CONCAT("%", #{filter.searchText}, "%")
        </if>
        <if test="filter.viewByUser == 1">
            AND cgroups.created_by = #{userId}
        </if>
    </sql>

    <select id="getList" resultMap="LeadGroupResponse">
        SELECT
        <include refid="BASE_COLUMN_LIST"/>
        <include refid="BASE_FROM"/>
        <include refid="BASE_WHERE"/>
        GROUP BY cgroups.id
        ORDER BY
        <choose>
            <when test="filter.orderBy != null">
                ${filter.orderBy}
            </when>
            <otherwise>
                cgroups.name ASC
            </otherwise>
        </choose>
        <if test="filter.page != null and filter.rowsPerPage != null">
            LIMIT #{filter.page}, #{filter.rowsPerPage}
        </if>
    </select>

    <select id="countList" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT cgroups.id)
        <include refid="BASE_FROM"/>
        <include refid="BASE_WHERE"/>
    </select>

    <select id="getOne" resultMap="LeadGroupResponse">
        SELECT
        <include refid="BASE_COLUMN_LIST"/>
        <include refid="BASE_FROM"/>
        WHERE cgroups.is_active = 3
        AND cgroups.group_type = 2
        AND cgroups.id IN (SELECT cgroup_id FROM cgroup_companies WHERE company_id IN (SELECT company_id FROM user_companies WHERE user_id = #{userId}))
        AND cgroups.id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="leadGroup.id">
        INSERT INTO cgroups (
            name,
            user_apply,
            group_type,
            is_active,
            created,
            created_by
        ) VALUES (
            #{leadGroup.name},
            1,
            2,
            #{leadGroup.isActive},
            NOW(),
            #{leadGroup.createdBy}
        )
    </insert>

    <update id="update">
        UPDATE cgroups SET
            name = #{leadGroup.name},
            user_apply = 1,
            group_type = 2,
            is_active = 3,
            modified = NOW(),
            modified_by = #{leadGroup.modifiedBy}
        WHERE id = #{leadGroup.id}
        AND group_type = 2
    </update>

    <update id="delete">
        UPDATE cgroups SET
            is_active = 2,
            modified = NOW(),
            modified_by = #{userId}
        WHERE id = #{id}
        AND group_type = 2
        AND is_active = 3
    </update>

    <select id="checkDuplicate" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM cgroups
        WHERE is_active = 3
        AND group_type = 2
        AND name = #{name}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

    <insert id="insertCompany">
        INSERT INTO cgroup_companies(company_id, cgroup_id)
        VALUES (#{companyId}, #{leadGroupId})
    </insert>

    <insert id="insertEmployeeGroup">
        INSERT INTO cgroup_egroups(egroup_id, cgroup_id)
        VALUES (#{employeeGroupId}, #{leadGroupId})
    </insert>

    <insert id="insertLead">
        INSERT INTO customer_cgroups(customer_id, cgroup_id)
        VALUES (#{leadId}, #{leadGroupId})
    </insert>

    <delete id="deleteCompany">
        DELETE FROM cgroup_companies WHERE cgroup_id = #{leadGroupId}
    </delete>

    <delete id="deleteEmployeeGroup">
        DELETE FROM cgroup_egroups WHERE cgroup_id = #{leadGroupId}
    </delete>

    <delete id="deleteLead">
        DELETE FROM customer_cgroups WHERE cgroup_id = #{leadGroupId}
    </delete>

    <select id="getCompany" resultMap="LeadGroupDetailResponse">
        SELECT
            company_id AS id,
            (SELECT name FROM companies WHERE id = company_id) AS name
        FROM cgroup_companies
        WHERE cgroup_id = #{leadGroupId}
    </select>

    <select id="getEmployeeGroup" resultMap="LeadGroupDetailResponse">
        SELECT
            egroup_id AS id,
            (SELECT name FROM egroups WHERE id = egroup_id) AS name
        FROM cgroup_egroups
        WHERE cgroup_id = #{leadGroupId}
    </select>

    <select id="getLead" resultMap="LeadGroupDetailResponse">
        SELECT
            customer_id AS id,
            (SELECT lead_code FROM customers WHERE id = customer_id) AS name
        FROM customer_cgroups
        WHERE cgroup_id = #{leadGroupId}
    </select>

</mapper>
