<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.OpportunityStageMapper">

    <sql id="BASE_COLUMN_LIST">
        cos.id AS id,
        (SELECT GROUP_CONCAT((SELECT description FROM crm_pipeline_settings WHERE is_active = 1 AND id = crm_pipeline_setting_id) SEPARATOR ', ') FROM crm_pipeline_setting_stags WHERE crm_opportunity_stag_id = cos.id) AS pipelineSettingName,
        cos.name AS stageName,
        cos.is_apply AS applyWithId,
        CASE cos.is_apply WHEN 0 THEN '' WHEN 1 THEN 'Quotation' WHEN 2 THEN 'Sales Order' END AS applyWith,
        cos.created AS created,
        CONCAT(creator.first_name, ' ', creator.last_name) AS createdBy,
        cos.modified AS modified,
        CONCAT(modifier.first_name, ' ', modifier.last_name) AS modifiedBy
    </sql>

    <sql id="BASE_FROM">
        FROM crm_opportunity_stags AS cos
        LEFT JOIN users AS creator ON creator.id = cos.created_by
        LEFT JOIN users AS modifier ON modifier.id = cos.modified_by
    </sql>

    <sql id="BASE_WHERE">
        WHERE cos.is_active = 1
        <if test="filter.searchText != null">
            AND cos.name LIKE CONCAT("%", #{filter.searchText}, "%")
        </if>
    </sql>

    <select id="getList" resultMap="OpportunityStageResponse">
        SELECT <include refid="BASE_COLUMN_LIST"/>
        <include refid="BASE_FROM"/>
        <include refid="BASE_WHERE"/>
        ORDER BY
        <choose>
            <when test="filter.orderBy != null">${filter.orderBy}</when>
            <otherwise>cos.id DESC</otherwise>
        </choose>
        <if test="filter.page != null and filter.rowsPerPage != null">
            LIMIT #{filter.page}, #{filter.rowsPerPage}
        </if>
    </select>

    <select id="countList" resultType="java.lang.Long">
        SELECT COUNT(cos.id)
        <include refid="BASE_FROM"/>
        <include refid="BASE_WHERE"/>
    </select>

    <select id="getOne" resultMap="OpportunityStageResponse">
        SELECT <include refid="BASE_COLUMN_LIST"/>
        <include refid="BASE_FROM"/>
        WHERE cos.is_active = 1 AND cos.id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="stage.id">
        INSERT INTO crm_opportunity_stags
        (
            name,
            created,
            created_by,
            is_apply,
            is_active
        )
        VALUES
            (
                #{stage.name},
                NOW(),
                #{stage.createdBy},
                #{stage.applyWith},
                #{stage.isActive}
            )
    </insert>

    <update id="update">
        UPDATE crm_opportunity_stags SET name = #{stage.name}, modified = NOW(), modified_by = #{stage.modifiedBy}, is_apply = #{stage.applyWith}
        WHERE id = #{stage.id} AND is_active = 1
    </update>

    <update id="delete">
        UPDATE crm_opportunity_stags SET is_active = 2, modified = NOW(), modified_by = #{userId}
        WHERE id = #{id} AND is_active = 1
    </update>

    <select id="checkDuplicate" resultType="java.lang.Long">
        SELECT COUNT(id) FROM crm_opportunity_stags
        WHERE is_active = 1 AND name = #{name}
        <if test="id != null">AND id != #{id}</if>
    </select>

</mapper>
