<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.OpportunitiesMapper">

    <resultMap id="OpportunityResponse" type="com.ut.nlSystemAPi.model.response.Opportunities.OpportunityResponse">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="amount" column="amount"/>
        <result property="expectedDate" column="expectedDate"/>
        <result property="pipelineId" column="pipelineId"/>
        <result property="pipelineName" column="pipelineName"/>
        <result property="stageId" column="stageId"/>
        <result property="stageName" column="stageName"/>
        <result property="probability" column="probability"/>
        <result property="sourceId" column="sourceId"/>
        <result property="sourceName" column="sourceName"/>
        <result property="organizationId" column="organizationId"/>
        <result property="organizationName" column="organizationName"/>
        <result property="leadId" column="leadId"/>
        <result property="leadName" column="leadName"/>
        <result property="responsibilityId" column="responsibilityId"/>
        <result property="responsibilityName" column="responsibilityName"/>
        <result property="divisionId" column="divisionId"/>
        <result property="divisionName" column="divisionName"/>
        <result property="contactId" column="contactId"/>
        <result property="contactName" column="contactName"/>
        <result property="quotationId" column="quotationId"/>
        <result property="quotationNo" column="quotationNo"/>
        <result property="salesOrderId" column="salesOrderId"/>
        <result property="salesOrderNo" column="salesOrderNo"/>
        <result property="description" column="description"/>
        <result property="created" column="created"/>
        <result property="createdBy" column="createdBy"/>
        <result property="modified" column="modified"/>
        <result property="modifiedBy" column="modifiedBy"/>
    </resultMap>

    <resultMap id="OpportunityAddMoreDetailResponse" type="com.ut.nlSystemAPi.model.response.Opportunities.OpportunityAddMoreDetailResponse">
        <id property="id" column="id"/>
        <result property="pipelineId" column="pipelineId"/>
        <result property="stageId" column="stageId"/>
        <result property="stageName" column="stageName"/>
        <result property="probability" column="probability"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap id="OpportunityStageMoveResponse" type="com.ut.nlSystemAPi.model.response.Opportunities.OpportunityStageMoveResponse">
        <result property="stageId" column="stageId"/>
        <result property="stageName" column="stageName"/>
        <result property="percent" column="percent"/>
    </resultMap>

    <resultMap id="OpportunityReferenceResponse" type="com.ut.nlSystemAPi.model.response.Opportunities.OpportunityReferenceResponse">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="customerId" column="customerId"/>
        <result property="customerContactId" column="customerContactId"/>
        <result property="totalAmount" column="totalAmount"/>
        <result property="discount" column="discount"/>
        <result property="totalVat" column="totalVat"/>
    </resultMap>

    <resultMap id="OpportunityLogResponse" type="com.ut.nlSystemAPi.model.response.Opportunities.OpportunityLogResponse">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="statusName" column="statusName"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="borderColor" column="borderColor"/>
        <result property="created" column="created"/>
        <result property="createdBy" column="createdBy"/>
    </resultMap>

</mapper>
