<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ut.nlSystemAPi.mapper.primary.CodeMapper">

  <select id="countRecords" resultType="long">
    SELECT COUNT(${field})
    FROM ${table}
    WHERE ${field}
    LIKE #{pattern}
    ${status}
  </select>

  <update id="updateCode">
    UPDATE ${tableName} SET ${field} = #{code} WHERE id = #{id}
  </update>

  <select id="getCode" resultType="java.lang.String">
    SELECT ${field} FROM ${tableName} WHERE id = #{id}
  </select>

</mapper>
