<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.ShipmentMapper">

  <sql id="BASE_COLUMN_LIST">
    shipments.id AS id,
    shipments.name AS `name`,
    shipments.modified AS modified,
    shipments.created AS created,
    CONCAT(users1.first_name, ' ', users1.last_name) AS createdBy,
    CONCAT(users2.first_name, ' ', users2.last_name) AS modifiedBy
  </sql>

  <sql id="BASE_FROM">
      FROM shipments
      LEFT JOIN users AS users1 ON users1.id = shipments.created_by
      LEFT JOIN users AS users2 ON users2.id = shipments.modified_by
  </sql>

  <sql id="BASE_WHERE">
      WHERE shipments.is_active = 1
    <if test="filter.searchText != null"> AND shipments.name LIKE CONCAT("%", #{filter.searchText}, "%")</if>
  </sql>


  <select id="getList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultMap="ShipmentResponse">
    SELECT
     <include refid="BASE_COLUMN_LIST"/>
     <include refid="BASE_FROM"/>
     <include refid="BASE_WHERE"/>
     ORDER BY
     <choose>
          <when test="filter.orderBy != null">
            ${filter.orderBy}
          </when>
          <otherwise>
              shipments.id DESC
          </otherwise>
     </choose>
     <if test="filter.page != null and filter.rowsPerPage != null">LIMIT #{filter.page}, #{filter.rowsPerPage}</if>
  </select>

  <select id="countList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultType="java.lang.Long">
    SELECT COUNT(shipments.id)
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
  </select>

  <select id="getOne" parameterType="java.lang.Long" resultMap="ShipmentResponse">
    SELECT
      <include refid="BASE_COLUMN_LIST"/>
      <include refid="BASE_FROM"/>
    WHERE shipments.is_active = 1 AND shipments.id = #{id}
  </select>

    <insert id="insert" parameterType="com.ut.nlSystemAPi.model.Shipment" useGeneratedKeys="true" keyProperty="shipment.id">
        INSERT INTO shipments (
            name,
            created,
            created_by,
            is_active
        ) VALUES (
                     #{shipment.name},
                     NOW(),
                     #{shipment.createdBy},
                     #{shipment.isActive}
                 )
    </insert>

    <select id="checkDuplicate" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM shipments
        WHERE is_active = 1 AND name = #{name}
        <if test="id != null"> AND id != #{id} </if>
    </select>

    <update id="update" parameterType="com.ut.nlSystemAPi.model.Shipment">
        UPDATE shipments
        SET
        <trim suffixOverrides=",">
            <if test="shipment.name != null">
            name = #{shipment.name},
            </if>
            modified = NOW(),
            <if test="shipment.modifiedBy != null">
            modified_by = #{shipment.modifiedBy}
            </if>
        </trim>
        WHERE id = #{shipment.id}
    </update>

    <update id="delete" parameterType="map">
            UPDATE shipments SET is_active = 2,
            modified = NOW(),
            modified_by =#{userId}
            WHERE id = #{id}
    </update>
</mapper>