<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.StockLevelMapper">

  <sql id="BASE_COLUMN_LIST">
    stock_levels.id AS id,
    stock_levels.name AS name,
    stock_levels.price_type_id AS priceTypeId,
    price_types.name AS priceTypeName,
    stock_levels.is_active AS isActive,
    stock_levels.created AS created,
    CONCAT(users1.first_name, ' ', users1.last_name) AS createdBy,
    stock_levels.modified AS modified,
    CONCAT(users2.first_name, ' ', users2.last_name) AS modifiedBy
  </sql>

  <sql id="BASE_FROM">
    FROM stock_levels
    LEFT JOIN price_types ON price_types.id = stock_levels.price_type_id
    LEFT JOIN users AS users1 ON users1.id = stock_levels.created_by
    LEFT JOIN users AS users2 ON users2.id = stock_levels.modified_by
  </sql>

  <sql id="BASE_WHERE">
    WHERE stock_levels.is_active = 1
    <if test="filter.searchText != null">
      AND (
        stock_levels.name LIKE CONCAT('%', #{filter.searchText}, '%')
        OR price_types.name LIKE CONCAT('%', #{filter.searchText}, '%')
      )
    </if>
  </sql>

  <select id="getList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultMap="StockLevelResponse">
    SELECT
    <include refid="BASE_COLUMN_LIST"/>
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
    ORDER BY
    <choose>
      <when test="filter.orderBy != null">
        ${filter.orderBy}
      </when>
      <otherwise>
        stock_levels.id DESC
      </otherwise>
    </choose>
    <if test="filter.page != null and filter.rowsPerPage != null">
      LIMIT #{filter.page}, #{filter.rowsPerPage}
    </if>
  </select>

  <select id="countList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultType="java.lang.Long">
    SELECT COUNT(stock_levels.id)
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
  </select>

  <select id="getOne" parameterType="java.lang.Long" resultMap="StockLevelResponse">
    SELECT
    <include refid="BASE_COLUMN_LIST"/>
    <include refid="BASE_FROM"/>
    WHERE stock_levels.is_active = 1 AND stock_levels.id = #{id}
  </select>

  <insert id="insert" parameterType="com.ut.nlSystemAPi.model.StockLevel" useGeneratedKeys="true" keyProperty="stockLevel.id">
    INSERT INTO stock_levels (
      name,
      price_type_id,
      created,
      created_by,
      is_active
    ) VALUES (
      #{stockLevel.name},
      #{stockLevel.priceTypeId},
      NOW(),
      #{stockLevel.createdBy},
      #{stockLevel.isActive}
    )
  </insert>

  <update id="update" parameterType="com.ut.nlSystemAPi.model.StockLevel">
    UPDATE stock_levels SET
    <if test="stockLevel.name != null">name = #{stockLevel.name},</if>
    <if test="stockLevel.priceTypeId != null">price_type_id = #{stockLevel.priceTypeId},</if>
    modified = NOW(),
    <if test="stockLevel.modifiedBy != null">modified_by = #{stockLevel.modifiedBy}</if>
    WHERE id = #{stockLevel.id}
  </update>

  <update id="delete" parameterType="java.lang.Long">
    UPDATE stock_levels SET
      is_active = 2,
      modified = NOW(),
      modified_by = #{userId}
    WHERE id = #{id};
  </update>

  <select id="checkDuplicate" resultType="java.lang.Long">
    SELECT COUNT(id)
    FROM stock_levels
    WHERE is_active = 1 AND name = #{name}
    <if test="id != null"> AND id != #{id} </if>
  </select>

</mapper>
