<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.WarehouseMapper">

  <sql id="BASE_COLUMN_LIST">
    location_groups.id AS warehouseId,
    location_groups.name AS warehouseName,
    location_groups.stock_level_id AS stockLevelId,
    stock_levels.name AS stockLevelName,
    location_groups.description AS description,
    location_group_classese.class_id AS classId,
    classes.name AS className,
    location_groups.created AS created,
    location_groups.modified AS modified,
    CONCAT(users1.first_name, ' ', users1.last_name) AS createdBy,
    CONCAT(users2.first_name, ' ', users2.last_name) AS modifiedBy
  </sql>

  <sql id="BASE_FROM">
    FROM location_groups
    LEFT JOIN users AS users1 ON users1.id = location_groups.created_by
    LEFT JOIN users AS users2 ON users2.id = location_groups.modified_by
    LEFT JOIN location_group_classese ON location_group_classese.location_group_id = location_groups.id
    LEFT JOIN classes ON location_group_classese.class_id = classes.id
    LEFT JOIN stock_levels ON stock_levels.id = location_groups.stock_level_id
  </sql>

  <sql id="BASE_WHERE">
    WHERE location_groups.is_active = 1
    <if test="filter.searchText != null"> AND location_groups.name LIKE CONCAT("%", #{filter.searchText}, "%")</if>
  </sql>

  <select id="getList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultMap="WarehouseResponse">
    SELECT
    <include refid="BASE_COLUMN_LIST"/>
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
    ORDER BY
    <choose>
      <when test="filter.orderBy != null">
        ${filter.orderBy}
      </when>
      <otherwise>
        location_groups.id DESC
      </otherwise>
    </choose>
    <if test="filter.page != null and filter.rowsPerPage != null">LIMIT #{filter.page}, #{filter.rowsPerPage}</if>
  </select>

  <select id="countList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultType="java.lang.Long">
    SELECT COUNT(location_groups.id)
    <include refid="BASE_FROM"/>
    <include refid="BASE_WHERE"/>
  </select>

  <select id="getOne" parameterType="java.lang.Long" resultMap="WarehouseResponse">
    SELECT
    <include refid="BASE_COLUMN_LIST"/>
    <include refid="BASE_FROM"/>
    WHERE location_groups.is_active = 1 AND location_groups.id = #{id}
  </select>

  <select id="checkDuplicate" resultType="java.lang.Long">
    SELECT COUNT(id)
    FROM location_groups
    WHERE is_active = 1 AND name = #{name}
    <if test="id != null"> AND id != #{id} </if>
  </select>

  <insert id="insert" parameterType="com.ut.nlSystemAPi.model.Warehouse" useGeneratedKeys="true" keyProperty="warehouse.id">
    INSERT INTO location_groups (
      `name`,
      stock_level_id,
      description,
      created,
      created_by,
      is_active
    ) VALUES (
      #{warehouse.name},
      #{warehouse.stockLevelId},
      #{warehouse.description},
      NOW(),
      #{warehouse.createdBy},
      #{warehouse.isActive}
    )
  </insert>

  <insert id="insertUserWarehouse" parameterType="com.ut.nlSystemAPi.model.UserWarehouse">
    INSERT INTO user_location_groups (user_id, location_group_id)
    VALUES (#{userWarehouse.userId}, #{userWarehouse.warehouseId});
  </insert>

  <insert id="insertClassWarehouse" parameterType="com.ut.nlSystemAPi.model.ClassWarehouse">
    INSERT INTO location_group_classese (company_id, class_id, location_group_id)
    VALUES (1, #{classWarehouse.classId}, #{classWarehouse.warehouseId});
  </insert>

  <insert id="deleteUserWarehouse" parameterType="java.lang.Long">
    DELETE FROM user_location_groups WHERE location_group_id = #{warehouseId};
  </insert>

  <insert id="deleteClassWarehouse" parameterType="java.lang.Long">
    DELETE FROM location_group_classese WHERE location_group_id = #{warehouseId};
  </insert>

  <select id="getUserList" parameterType="java.lang.Long" resultMap="UserWarehouseResponse">
    SELECT
    users.id AS id,
    CONCAT(users.first_name, ' ', users.last_name) AS name
    FROM users
        JOIN user_location_groups ON user_location_groups.user_id = users.id
    WHERE user_location_groups.location_group_id = #{warehouseId}
  </select>

  <select id="getLocationList" parameterType="java.lang.Long" resultMap="LocationWarehouseResponse">
    SELECT
      locations.id AS id,
      locations.name AS name
    FROM locations
    WHERE locations.location_group_id = #{warehouseId}
  </select>

  <update id="update" parameterType="com.ut.nlSystemAPi.model.Warehouse">
    UPDATE location_groups SET
      <if test="warehouse.name != null">`name` = #{warehouse.name},</if>
      <if test="warehouse.stockLevelId != null">stock_level_id = #{warehouse.stockLevelId},</if>
      <if test="warehouse.description != null">`description` = #{warehouse.description},</if>
      modified = NOW(),
      modified_by = #{warehouse.modifiedBy}
    WHERE id = #{warehouse.id}
  </update>

  <update id="delete" parameterType="java.lang.Long">
    UPDATE location_groups SET
      is_active = 2,
      modified = NOW(),
      modified_by = #{userId}
    WHERE id = #{id};
  </update>

  <insert id="insertGroupTotal" parameterType="java.lang.Long">
    CREATE TABLE `${locationGroupId}_group_totals` (
                                                       `product_id` int(11) NOT NULL DEFAULT '0',
                                                       `lots_number` varchar(50) COLLATE utf8_unicode_ci NOT NULL DEFAULT '0',
                                                       `expired_date` date NOT NULL,
                                                       `location_id` int(11) NOT NULL DEFAULT '0',
                                                       `location_group_id` int(11) NOT NULL DEFAULT '0',
                                                       `total_qty` decimal(15,3) NOT NULL DEFAULT '0.000',
                                                       `total_order` decimal(15,3) NOT NULL DEFAULT '0.000'
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

    ALTER TABLE `${locationGroupId}_group_totals`
      ADD PRIMARY KEY (`product_id`,`location_id`,`location_group_id`,`lots_number`,`expired_date`),
  ADD KEY `index_keys` (`product_id`,`location_id`,`location_group_id`,`lots_number`,`expired_date`);
  </insert>

  <insert id="insertGroupTotalDetail" parameterType="java.lang.Long">
    CREATE TABLE `${locationGroupId}_group_total_details` (
                                                              `product_id` int(11) NOT NULL DEFAULT '0',
                                                              `location_group_id` int(11) NOT NULL DEFAULT '0',
                                                              `total_cycle` decimal(15,3) DEFAULT '0.000',
                                                              `total_so` decimal(15,3) DEFAULT '0.000',
                                                              `total_so_free` decimal(15,3) DEFAULT '0.000',
                                                              `total_pos` decimal(15,3) DEFAULT '0.000',
                                                              `total_pos_free` decimal(15,3) DEFAULT '0.000',
                                                              `total_pb` decimal(15,3) DEFAULT '0.000',
                                                              `total_pbc` decimal(15,3) DEFAULT '0.000',
                                                              `total_cm` decimal(15,3) DEFAULT '0.000',
                                                              `total_cm_free` decimal(15,3) DEFAULT '0.000',
                                                              `total_to_in` decimal(15,3) DEFAULT '0.000',
                                                              `total_to_out` decimal(15,3) DEFAULT '0.000',
                                                              `total_order` decimal(15,3) DEFAULT '0.000',
                                                              `date` date NOT NULL
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;

    ALTER TABLE `${locationGroupId}_group_total_details`
      ADD PRIMARY KEY (`product_id`,`location_group_id`,`date`),
  ADD KEY `index_key` (`product_id`,`location_group_id`,`date`);
  </insert>

  <select id="checkTableExists" parameterType="String" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM information_schema.tables
    WHERE table_schema = DATABASE()
    AND table_name = #{tableName}
  </select>

</mapper>
