<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.DepositMapper">

  <resultMap id="DepositResponse" type="com.ut.nlSystemAPi.model.response.DepositResponse">

  </resultMap>

  <resultMap id="DepositHistory" type="com.ut.nlSystemAPi.model.response.DepositHistory">

  </resultMap>

  <resultMap id="Deposit" type="com.ut.nlSystemAPi.model.Deposit">

  </resultMap>

  <resultMap id="workShiftTypeResponse" type="com.ut.nlSystemAPi.model.response.WorkShiftTypeResponse">

  </resultMap>
  <resultMap id="DepositListByEmployees" type="com.ut.nlSystemAPi.model.DepositListByEmployees">

  </resultMap>

  <resultMap id="TitleResponse" type="com.ut.nlSystemAPi.model.response.TitleResponse">

  </resultMap>

  <resultMap id="EmployeesResponse" type="com.ut.nlSystemAPi.model.response.EmployeesResponse">

  </resultMap>

</mapper>