<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.LeaveRequestMapper">

  <resultMap id="LeaveRequestResponse" type="com.ut.nlSystemAPi.model.response.LeaveRequestResponse">

  </resultMap>

  <resultMap id="LeaveTypeResponse" type="com.ut.nlSystemAPi.model.response.LeaveTypeResponse">

  </resultMap>

  <resultMap id="LeaveRequestDetailResponse" type="com.ut.nlSystemAPi.model.response.LeaveRequestDetailResponse">

  </resultMap>

  <resultMap id="LeaveReportDetailResponse" type="com.ut.nlSystemAPi.model.response.LeaveReportDetailResponse">

  </resultMap>

</mapper>
