<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.nlSystemAPi.mapper.primary.BranchTypeMapper">

    <sql id="BASE_COLUMN_LIST">
        branche_types.id AS id,
        branche_types.name AS name,
        branche_types.created AS created,
        branche_types.modified  AS modified,
        CONCAT(users1.first_name, ' ', users1.last_name ) AS createdBy,
        CONCAT(users2.first_name, ' ', users2.last_name ) AS modifiedBy
    </sql>
    <sql id="BASE_FROM">
        FROM branche_types
        LEFT JOIN users AS users1 ON users1.id = branche_types.created_by
        LEFT JOIN users AS users2 ON users2.id = branche_types.modified_by
    </sql>

    <sql id="BASE_WHERE">
        WHERE branche_types.is_active = 1
    </sql>

    <select id="getList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultMap="branchTypeResponse">
        SELECT
        <include refid="BASE_COLUMN_LIST"/>
        <include refid="BASE_FROM"/>
        <include refid="BASE_WHERE"/>
        ORDER BY
        <choose>
            <when test="filter.orderBy != null">
                ${filter.orderBy}
            </when>
            <otherwise>
                branche_types.id DESC
            </otherwise>
        </choose>
        <if test="filter.page != null and filter.rowsPerPage != null">LIMIT #{filter.page}, #{filter.rowsPerPage}</if>
    </select>

    <select id="countList" parameterType="com.ut.nlSystemAPi.model.base.Filter" resultType="java.lang.Long">
        SELECT COUNT( branche_types.id)
        <include refid="BASE_FROM"/>
        <include refid="BASE_WHERE"/>
    </select>

    <select id="getOne" resultMap="branchTypeResponse">
        SELECT
        <include refid="BASE_COLUMN_LIST"/>
        <include refid="BASE_FROM"/>
        WHERE branche_types.id = #{id} AND branche_types.is_active = 1
    </select>

    <select id="checkDuplicate" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM branche_types
        WHERE is_active = 1 AND (name = #{name})
        <if test="id != null">AND id != #{id}</if>
    </select>

    <insert id="insert">
        INSERT INTO branche_types
        (
            name,
            created,
            created_by,
            is_active
        )
        VALUES (
           #{branchType.name},
           NOW(),
           #{branchType.createdBy},
           1
        )
    </insert>

        <update id="update" parameterType="com.ut.nlSystemAPi.model.BranchType">
            UPDATE branche_types
            <set>
                <if test="branchType.name != null">name = #{branchType.name},</if>
                 modified = NOW(),
                 modified_by = #{branchType.modifiedBy}
            </set>
            WHERE id = #{branchType.id}
        </update>

    <update id="delete" parameterType="java.lang.Long">
        UPDATE branche_types
        SET is_active   = 2,
            modified    = NOW(),
            modified_by = #{userId}
        WHERE id = #{id};
    </update>

</mapper>
